.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}

.cart-container {
  background-color: #5585b5;
  text-align: center;
}

@media (max-width:800px) {
  .shop-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .products-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .cart-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
  .shop-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .products-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
  .shop-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
}