.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
  color: #ffffff;
}

.cart-btn {
  background-color: #53a8b6;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.cart-btn:hover {
  background-color: #79c2d0;
}

.cart-product h4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.cart-product img {
  height: 50px;
  border-radius: 50%;
}

#random-shoe img {
  height: 50px;
  border-radius: 50%;
}

#random-shoe {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}