.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
  color: #ffffff;
}

.cart-product h4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.cart-product img {
  height: 50px;
  border-radius: 50%;
}

.delete-button {
  background: #ffffff;
  border: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.delete-icon {
  color: #fd5d5d;
  font-size: 25px;
}

.cart-button {
  background-color: #53a8b6;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #79c2d0;
}

#random-shoe img {
  height: 50px;
  border-radius: 50%;
}

#random-shoe {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}